* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Pixelizer";
    background-color: rgb(193, 223, 187);
}