@import url('../Style/Animation.css');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Pixelizer";
    background: url('../Style/Photo/image_2025-12-29_12-03-05.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #262F24;
}
p {
    color: rgb(250, 250, 250);
}
h1 {
    color: rgb(250, 250, 250);
    font-size: 250px;
}
.title-photo{
    height: 20px;
    margin-right: 15px;
    animation: scale-photo 1s 3s ease-out;
    animation-fill-mode: forwards;
}
.title-block{
    margin-top: 50px;
    background: url('../Style/Photo/image_2025-12-29_12-40-25.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 350px;
    position: relative;
}
.title-text{
    font-size: 20px;
    animation: scale-text 1s 3s ease-out;
    animation-fill-mode: forwards;
}
.title-triangle-one
{
    position: absolute;
    top: 40px;
    left: 409px;
    height: 250px;
    animation: transport-one 1s 3s ease-out;
    animation-fill-mode: forwards;
}
.title-triangle-two
{
    position: absolute;
    top: 40px;
    right: 424px;
    height: 250px;
    animation: transport-two 1s 3s ease-out;
    animation-fill-mode: forwards;
}
.image-box{
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
}
.money {
    position: absolute;
    height: 100px;
    animation: rotation 2s 0s infinite ease-out;
}
#euro-one{
    left: 120px;
    top: 45px;
}
#dollar-one{
    left: 720px;
    top: -35px;
}
#yen-one{
    left: 920px;
    top: 385px;

}
#euro-two{
    left: 970px;
    top: 1525px;
}
#dollar-two{
    left: 375px;
    top: 1590px;
}
#yen-two{
    left: 145px;
    top: 1185px;

}
.arrow{
    position: absolute;
    top: 752px;
    left: 500px;
    height: 900px;
}
.hero{
    position: absolute;
    top: 1185px;
    left: 920px;
    height: 320px;
    animation: hero_rotate 4s 0s infinite ease-in-out;
}
.logo {
    position: absolute;
    top: 700px;
    left: 760px;
    width: 250px;
    animation: logo_fall 2s 0s infinite ease-in;
    animation-delay: 0.5s;
}
.text_in_box{
    position: absolute;
    rotate: -42deg;
    font-size: 60px;
    text-align: center;
    left: 0px;
    top: 830px;
    animation: text_box 10s 0s infinite ease;
}
.border_box{
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: #ACFFA4;
}
#box_fly_one{
    top: 1300px;
    left: 280px;
}
#box_fly_two{
    top: 1400px;
    left: 700px;
}
.border_proj{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ACFFA4;
}
#proj_one{
    top: 1350px;
    left: 280px;
    animation: fly_proj_one 0.5s 0s infinite linear;
}
#proj_two{
    top: 1350px;
    left: 330px;
    animation: fly_proj_two 0.6s 0s infinite linear;
}
#proj_three{
    top: 1350px;
    left: 305px;
    animation: fly_proj_theree 0.4s 0s infinite linear;
}
#proj_four{
    top: 1450px;
    left: 700px;
    animation: fly_proj_four 0.4s 0s infinite linear;
}
#proj_five{
    top: 1450px;
    left: 750px;
    animation: fly_proj_five 0.3s 0s infinite linear;
}
#proj_six{
    top: 1450px;
    left: 725px;
    animation: fly_proj_six 0.6s 0s infinite linear;
}
.image-in-box{
    height: 100%;
    width: 100%;
}
.bottom-box{
    margin-top: 70px;
}
.image-in-bottom{
    margin-left: 512px;
    width: 270px;
}
.bottom-text-box{
    display: flex;
    padding-top: 10px;
}
.bottom-text-left{
    font-size: 70px;
    margin-left: 20px;
}
.bottom-text-right{
    font-size: 70px;
    margin-left: 730px;
}
